@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
*{margin: 0;
padding: 0;}

/*------------------------------------------------Nav-----------------------------------*/



.nav_cont{
  position:sticky;
  top:0;
  width: 100%;
  height: 70px;
  background-color:#354C4F ;
  min-width: 500px;
  display: grid;
  grid-template-columns: 80px 1fr 330px;
}

.perfil{
  margin:auto;
}
.perfil img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding:5px;
}


.menu{
  display:grid;

  grid-template-columns: 1fr 1fr 1fr;

}

.n_m{

  border-radius: 15px;
  border: 1px solid #001f23;;
  text-align:center;
  margin:auto;
  padding:10px 5px;
  color:#008495;
  background-color:#001f23;
  transition:0.3s;
  cursor:pointer;
}

.n_m:hover{
  color:#03cfea;
  background-color:#005561;
  border: 1px solid #769da4;

}
/*------------------------------------------------header-----------------------------------*/
.b__cont{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #11BED0;
  min-width:  500px;

  
}

.b__c-a{
  min-width:  500px;

  flex-grow: 2;


}
.b__c-a h1 {
      margin: 0px;
     padding: 0; }

.b__c-a p{
  align-self: center;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  Align-content:center;
  padding: 170px 20% 10% ;
  display: inline-block;
  

}

.b__c-b{
  
  min-width:  500px;
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  Justify-content:center;
  
  
}

.b_c-b1{

  padding: 5px;

}
.b_c-b1 img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.b_c-b2{
  height:233px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}
/*------------------------------------------------SKILS-----------------------------------*/
.T_Skill{
  width: 100%;
  height: 25px;
  text-align: center;
  margin:auto;
  padding-top:10px;
  min-width:  500px;
}

.cont_skill{
  min-width:  500px;
  background-color:#0EA3B3;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.c_s-1{

  flex-grow: 1;
  background-color: #1EAFBF;
  min-width:  500px;
  height: 200px;

}
.c_s-2{
  background-color: #51B6C1;
  flex-grow: 1;
  min-width:  500px;
  height: 200px;

}
.c_s-3{
  background-color: #81BBC1;
  flex-grow: 1;

  min-width:  500px;
  height: 200px;
}
.c_s-4{
  background-color: #99bfc3;
  flex-grow: 1;

  min-width:  500px;
  height: 200px;
}
/*------------------------------------------------Proyectos-----------------------------------*/
.cont_proyectos{ 
   width: 100%;
  height: 600px;
  min-width:  500px;
  background-color:#0C8895;
}
/*------------------------------------------------Form-----------------------------------*/


form { 
  padding: 10px;
  min-width: 480px;
  display: flex;
  background: #0A6D77;
  justify-content: center;
  Flex-direction:column;

}

textarea{
  width: 400px;
  height: 200px;
  Align-self :center;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}


  input {
    width: 200px;
    height: 40px;
    margin:  auto;
    display: block;
    padding: 9px;
    box-sizing: border-box;
    border:none;
    background:transparent;
    border-bottom:solid 2px #189;
    color: rgb(255, 255, 255);
    transition:0.3s;
}

input[type=text]{

  margin: auto;
  margin-bottom: 9px;
  color: #fff;
 }

 input[type=submit]{
  margin:5px auto;
  background:#189;
  color: #fff;
  transition:0.3s;
  border-radius: 20px;
 }
 

input:hover {
 background: rgb(153, 56, 17);;
}

input:hover::placeholder{
 color: #fff;
}

/*------------------------------------------------Fotter-----------------------------------*/
.cont_footer{
  width: 100%;
  height: 210px;
  display: grid;

  background-color: #075159;
  grid-template-columns: repeat(3,1fr);
  min-width: 500px;
}
.a{
  width: 100%;
  min-width: 150px;
  text-align: center;
  display: grid;
  grid-template-rows: 40px 1fr;

}
.titulo{
  font-size:20px;
  padding:10px;
  font-family: 'Pacifico', cursive;
}
.a img{
  margin:auto;
  height: 30px;
  width: 30px;
  cursor:pointer;
  
}

.contenido{
  padding-top:10px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 16px;
font-weight: bold;
}

/*------------------------------------------------Separadores-----------------------------------*/
.c-s{
  width: 100%;
  text-align: center;
  font-family: 'Poor Story', cursive;
  margin:auto;
  font-size: 20px;
  min-width:  500px;
  background: rgb(17,190,208);
  background: radial-gradient(circle, rgba(17,190,208,1) 0%, rgba(23,180,199,1) 49%, rgba(30,175,191,1) 100%);
}
.c-p{
  width: 100%;
  text-align: center;
  font-family: 'Poor Story', cursive;
  margin:auto;
  font-size: 20px;
  min-width:  500px;
  background: rgb(17,190,208);
  background: radial-gradient(circle, rgba(17,190,208,1) 0%, rgba(23,180,199,1) 49%, rgba(30,175,191,1) 100%);
}
.c-c{
  width: 100%;
  text-align: center;
  font-family: 'Poor Story', cursive;
  margin:auto;
  font-size: 20px;
  min-width:  500px;
  background: rgb(17,190,208);
  background: radial-gradient(circle, rgba(17,190,208,1) 0%, rgba(23,180,199,1) 49%, rgba(30,175,191,1) 100%);
}
